<%- include('layouts/header') %>
<%- include('layouts/menu') %>
    <div class="container">
        <div class="panel">
            <p class="lead">Login Inválido</p>
            <p><a class="btn btn-primary" href="/login">Tentar Novamente</a></p>    
        </div>
    </div>
<%- include("layouts/footer") %>
